@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead"> SignalR with WebJobs to communicate back to a website from the webjob.</p>
    <p><a href="@Url.Action("CreateJob")" class="btn btn-primary btn-lg">invoke queue &raquo;</a></p>
</div>